.link--button {
   @include button($raisin-black, unset, all, 1px solid black);
   @include font('jetbrains', $cultured);
   @include pseudo-parent();
   border-radius: 5px;
   font-size: 1.3rem;
   overflow: unset;
   padding: 0.5em;
   &:before {
      @include pseudo-children();
      box-shadow: $shadow-huge;
      transition: .2s all;
      background: linear-gradient(0deg, rgb(0 0 0 / .5), rgb(0 0 0 / 0));
      opacity: 1;
   }
   &:after {
      @include pseudo-children();
      box-shadow: $shadow-huge-inset;
      opacity: 0;
   }
   &:hover {
      background: lighten($raisin-black, 8%);
   }
   &:active {
      &:after {
         opacity: 1;
      }
   }
   &[data-selected] {
      background: lighten($raisin-black, 12%);
      color: white;
   }
}